<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
      <link rel="stylesheet" href="/stylesheets/style.css" />
      <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css'>
      <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css'>
      <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
  </head>

  <body>
    
<nav class="navbar navbar-expand-lg bg-dark text-white">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="/"><i class="fi fi-rs-flame"></i> League of Legends Team Generator </a>
    <button class="navbar-toggler" type="button"data-bs-toggle="collapse" style="background-color: white;"data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" style="background-color: white;"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        {{#if isLoggedIn}}
        <a class="nav-link text-white m-3" href="/auth/logout">Logout <i class="fi fi-rs-chart-user"></i></a>
        <a class="nav-link text-white m-3" href="/">Champions</a>
        <a class="nav-link text-white m-3" href="/matches">Match Search</a>
        <a class="nav-link text-white m-3" href="/profile/{{globalUserId}}">Profile <i class="fi fi-br-user"></i></a>
        {{else}}
        <a class="nav-link text-white m-3" href="/auth/logout">Logout <i class="fi fi-rs-chart-user"></i></a>
        <a class="nav-link text-white m-3" aria-current="page" href="/auth/login">Login<i class="fi fi-rs-chalkboard-user"></i></a>
        <a class="nav-link text-white m-3" href="/auth/signup">Signup<i class="fi fi-rs-chart-user"></i></a>
        {{!-- <a class="nav-link text-white m-3" href="#">Random Team <i class="fi fi-rr-users-alt"></i></a>
        <a class="nav-link text-white m-3" href="/matches">Match History</a> --}}
        {{/if}}
      </div>
    </div>

  </div> 
</nav>

    {{{body}}}
    
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
  <script src="/js/script.js"></script>
  </body>

</html>