<div id="summoner-search">
    <div class="col justify-content-center">

<div class="mb-3">
<h1 class="m-4 text-white">Search by Summoner name in the LAN service</h1>
</div>

    <div class="mb-3">
  <img src="/images/ekko.png" alt="">
    </div>


<div class="mb-3">
<form action="/matches/match-search" method="POST" class="row g-3 d-flex justify-content-center m-4">
  <div class="col-auto">
    <label for="staticEmail2" class="visually-hidden">Summoner Name</label>
    <input type="text" class="form-control-plaintext text-white" id="staticEmail2" value="TØKS,Yuggen AF, iceland12">
  </div>
  <div class="col-auto">
    <label for="inputPassword2" class="visually-hidden">Summoner name</label>
    <input type="text" name="summonerName" class="form-control" id="inputPassword2" placeholder="Summoner Name">
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Search Matches</button>
  </div>
</form>
</div>
</div>
</div>