<h2>Champ name </h2>

<div class="card" style="width: 18rem;">
  <img src="{{url}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5> <!-- Reemplazado "Título de la imagen" por {{name}} -->
    <p class="card-text">{{description}} </p>
  </div>
</div>

<div class="btn-group" role="group" aria-label="Basic outlined example">
  <button type="button" class="btn btn-outline-primary">Q</button>
  <button type="button" class="btn btn-outline-primary">W</button>
  <button type="button" class="btn btn-outline-primary">E</button>
  <button type="button" class="btn btn-outline-primary">R</button>
  <button type="button" class="btn btn-outline-primary">Pasive </button>
</div>