{{!-- <h1>{{appTitle}} </h1> --}}


{{#each rows}}
<div class="row mb-3">
    {{#each columns}}
    <div class="{{columnClass}}">
        {{#each cards}}
            {{> card}}
        {{/each}}
    </div>
    {{/each}}
</div>
{{/each}}